# BloomTech Data Science - Unit 2 Sprint 1 Module 1

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error

# I. Wrangle Data

In [15]:
DATA_PATH = "c:/users/rextr/downloads/NYC_Citywide_Rolling_Calendar_Sales.csv"

df = pd.read_csv(DATA_PATH)
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,377,70,NaN,B1,235 EAST 7TH STREET,NaN,...,2.0,0.0,2.0,882,2160.0,2003.0,1,B1,"3,025,000",12/16/2021
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376,54,NaN,C4,"719 EAST SIXTH STREET, 5C",NaN,...,20.0,0.0,20.0,"2,302",9750.0,1900.0,2,C4,"154,196",06/11/2021
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,46,NaN,C4,248 EAST 2 STREET,NaN,...,20.0,0.0,20.0,"2,623",11017.0,1900.0,2,C4,0,11/15/2021
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,386,53,NaN,C1,233 EAST 3 STREET,NaN,...,29.0,0.0,29.0,"3,927",17754.0,1910.0,2,C1,"7,500,000",06/14/2021
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,390,57,NaN,C7,197 EAST 7TH STREET,NaN,...,10.0,1.0,11.0,"1,600",5320.0,1910.0,2,C7,10,01/13/2022

,BOROUGH,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,1,377,70,NaN,B1,235 EAST 7TH STREET,NaN,10009.0,2.0,0.0,2.0,882,2160.0,2003.0,1,B1,"3,025,000",12/16/2021
1,1,2,376,54,NaN,C4,"719 EAST SIXTH STREET, 5C",NaN,10009.0,20.0,0.0,20.0,"2,302",9750.0,1900.0,2,C4,"154,196",06/11/2021
2,1,2,385,46,NaN,C4,248 EAST 2 STREET,NaN,10009.0,20.0,0.0,20.0,"2,623",11017.0,1900.0,2,C4,0,11/15/2021
3,1,2,386,53,NaN,C1,233 EAST 3 STREET,NaN,10009.0,29.0,0.0,29.0,"3,927",17754.0,1910.0,2,C1,"7,500,000",06/14/2021
4,1,2,390,57,NaN,C7,197 EAST 7TH STREET,NaN,10009.0,10.0,1.0,11.0,"1,600",5320.0,1910.0,2,C7,10,01/13/2022

# II. Split Data

Split our dataset into a **feature matrix `X`** and a **target vector `y`**.

# III. Establish Baseline

If you had a *naÃ¯ve model* that could only predict one value, how well would you model perform?

# IV. Build Model

# V. Check Metrics

# VI. Communicate Results

Plot model

What are our beta coefficients?